Target attributes

MNot on section 4.2.4.1 https://mailarchive.ietf.org/arch/msg/httpapi/gv9uqyD8Fv96P-_ip9LWIiCqALM/

4.2.4.1. Target Attributes Defined by Web Linking -- this refers to 3.4.1 of 8288, which defines a *different* serialisation of web links - the Link HTTP header field. It should refer to section 2 of 8288, which defines the abstract model of web linking, since this is a new serialisation. As such, this section isn't really necessary; all target attributes are just target attributes in the abstract model. 

PhilA: Suggest we just switch the reference to section 2 of 8288 then. I am definitely not in favor of removing the section as it provides very helpful content that a developer would struggle to deduce otherwise (I used it extensively in my own work). I would, however, be comfortable if all the MUSTs became simple 'is' statements. For example: "hreflang": 

The optional and repeatable "hreflang" target attribute is represented by an array (even if ... "


As for 4.2.4.2.  Internationalized Target Attributes - Mark suggests removing this section as well. Again, I am not in favor of this. Yes, let's update the link to section 2 of the Web Linking spec, but the i18n titles are useful examples.

Julian raised issues around this as well. Yes, it's complicated and serves what is essentially an edge case on the Web today (sadly in my view but there we are). But it is consistent - and consistency is generally a good thing in standards ;-)  


Folding 4.2.4.3.  Extension Target Attributes into section 4.2.4 - as Mark suggests - makes sense if you remove the preceding sub sections. Since I don't agree with removing 4.2.4.1 and 4.2.4.2, I disagree with Mark's suggestion and, again, think 4.2.4.3 adds useful clarity.

the section reference needs to be changed, but we agree with @philarcher that the rest is probably helpful for implementers.

The proposal is to:

- Change the reference in 4.2.4.1 to section 2 of RFC8288
- Keep the sections on target attributes because they can be helpful for implementers

@mnot, please let us know if not OK.

Will look at it in situ after the change is incorporated.

Addressed with [https://github.com/ietf-wg-httpapi/linkset/commit/9fc8ef9fd439770664ee32a14f6423a4ecb20506](https://github.com/ietf-wg-httpapi/linkset/commit/9fc8ef9fd439770664ee32a14f6423a4ecb20506)

I think that works. Thanks.