New lines

MNot's comment on section 4.1 is "HTTP Link Document Format: application/linkset -- it would be good if this said something explicitly about whether newlines are allowed, and gave an example."

The proposal is to change the sentence:

This document format is identical to the payload of the HTTP "Link" header field as defined in Section 3 of [RFC8288], more specifically by its ABNF production rule for "Link" and subsequent ones. The use of non-ASCII characters in the payload of the HTTP "Link" Header field is not interoperable.

to:

This document format is identical to the payload of the HTTP "Link" header field as defined in Section 3 of [RFC8288], more specifically by its ABNF production rule for "Link" and subsequent ones. As such, only space and horizontal tab characters are allowed as separators, newline characters are not. The use of non-ASCII characters in the payload of the HTTP "Link" Header field is not interoperable.

@mnot, please let us know if not OK.

That has the effect of requiring all instances of this format to be a single-line document.  I suspect that's going to cause problems; both because people are going to find it counter-intuitive, and text editors generally don't behave well with extremely long lines.

I'd suggest explicitly allowing line folding in the format, as per [HTTP/1.1 Section 5.2](https://httpwg.org/http-core/draft-ietf-httpbis-messaging-latest.html#line.folding).

If you really want this to be a one-line format, you'll need to update the example in Figure 8 to conform; I'd suggest looking at [RFC8792](https://www.rfc-editor.org/rfc/rfc8792.html).

given the option of "obsolete line folding", this looks like a good one to add. it's true that it will be more convenient to have line breaks because one of our selling points are relatively large sets of links. but then we probably need some language saying that these line breaks are for the standalone format only, and SHOULD/MUST be removed when using a linkset document as an HTTP field value.

I am definitely good with this. Just wondering what happens to the opening sentence of 4.1:

This document format is identical to the payload of the HTTP "Link" header field as defined in Section 3 of [RFC8288], more specifically by its ABNF production rule for "Link" and subsequent ones. 

Does that become “near identical” instead of “identical”?


On 2021-09-24 15:41, Herbert Van de Sompel wrote:
> I am definitely good with this. Just wondering what happens to the 
> opening sentence of 4.1:
> 
> This document format is identical to the payload of the HTTP "Link" 
> header field as defined in Section 3 of [RFC8288], more specifically by 
> its ABNF production rule for "Link" and subsequent ones.
> 
> Does that become “near identical” instead of “identical”?

that's a good point, but luckily we have the perfect person on this 
thread to answer this question!


Addressed with [https://github.com/ietf-wg-httpapi/linkset/commit/18613275ac800fa5e9e199aee677941a7d5b9a61#diff-35a406b8a32bfb0c3f2d3025a678d6f5c57ebdcd86fa5482a721ba50627fd51d](https://github.com/ietf-wg-httpapi/linkset/commit/18613275ac800fa5e9e199aee677941a7d5b9a61#diff-35a406b8a32bfb0c3f2d3025a678d6f5c57ebdcd86fa5482a721ba50627fd51d)

Looks to me as if this issue has been dealt with and can therefore be closed?